@{
    Layout = "_Base";
}
<div class="user-profile home-content">
    <div class="wrap">
        <div class="container">
            <div class="user-profile-header d-flex flex-column justify-content-start align-items-start">
                <div class="w-100">
                    <img src="https://source.unsplash.com/1600x900/?nature,photography,technology"
                            alt="cover-image"
                            class="cover-img "
                            />
                </div>

                <div class="user-avatar d-flex flex-lg-row flex-column align-items-center justify-content-between w-100">
                    <div class="d-flex flex-lg-row flex-column justify-content-center align-items-center position-relative">
                        <c:url value="~/img/non-avatar.png" var="avatar" />
                        <img src="${userInfo.avatar}" alt="avatar" class="user-avatar-img" />
                        <div class="height-element d-flex align-items-center justify-content-center">
                            <h1 class="user-profile-name">${userInfo.lastname} ${userInfo.firstname}</h1>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center align-items-center">
                        <c:if test="${userInfo.id == currentUser.id}">
                            <div class="btn-fix-profile">
                                <i class="fa-solid fa-pen me-2"></i>
                                Cập nhật trang cá nhân
                            </div>
                        </c:if>
                        <c:if test="${userInfo.id != currentUser.id}">
                            <div class="btn-report-user" onclick="openReportUser()">
                                <i class="fa-solid fa-flag me-2"></i>
                                Báo cáo người dùng
                            </div>
                        </c:if>
                    </div>
                </div>
            </div>

            <div class="user-menu">
                <div class="user-menu--item active userPost" id="userPost" onclick="menu(this)">
                    <div class="user-menu--hover">
                        Bài viết 
                    </div>
                </div>
                <div class="user-menu--item userAuction" id="userAuction" onclick="menu(this)">
                    <div class="user-menu--hover">
                        Đấu giá
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container user-profile--content">
        <div class="row g-3">
            <div class="col-12 col-lg-5">
                <div class="card user-intro">
                    <div class="card-header pb-0 pt-3 border-0">
                        <h5 class="card-title mb-0">Giới thiệu</h5>
                    </div>

                    <div class="card-body pb-2">
                        <div class="user-intro--item">
                            <div class="intro-icon">
                                <i class="fa-solid fa-a"></i>
                            </div>
                            <span class="intro-text">${userInfo.lastname} ${userInfo.firstname}</span>
                        </div>
                        <div class="user-intro--item">
                            <div class="intro-icon">
                                <i class="fa-solid fa-envelope"></i>
                            </div>
                            <span class="intro-text">${userInfo.email}</span>
                        </div>
                        <div class="user-intro--item">
                            <div class="intro-icon">
                                <i class="fa-solid fa-house"></i>
                            </div>
                            <span class="intro-text">Sống tại ${userInfo.address}</span>
                        </div>
                        <div class="user-intro--item">
                            <div class="intro-icon">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <span class="intro-text">${userInfo.job}</span>
                        </div>
                        <div class="user-intro--item">
                            <div class="intro-icon">
                                <i class="fa-solid fa-phone"></i>
                            </div>
                            <span class="intro-text">${userInfo.phone}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-7 mt-0">
                <div class="text-center mt-3 post-loading" id="userLoadingTop" style="display:none;">
                    <div class="spinner-border text-muted"></div>
                </div>

                <div class="user-content-container" id="feeds-container"></div>

                <div class="text-center mt-3 user-loading" style="display:none;">
                    <div class="spinner-border text-muted"></div>
                </div>

            </div>
        </div>
    </div>
</div>