@{
    ViewData["Title"] = "Home Page";
    Layout = "_Base";
}
<div class="row g-3">
    <div class="d-lg-block d-none col-lg-3">
        @*<partial name="LeftSideBar" />*@
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 g-3">
      <partial name="Feeds"/>
    </div>
    <div class="d-lg-block d-none col-lg-3 sidebar-right">
        @*<partial name="RightSideBar" />*@
    </div>
</div>



<script src="~/js/home.js"></script>
<script src="~/js/post.js"></script>
<script src="~/js/comment.js"></script>
<script src="~/js/feeds.js"></script>
<script src="~/js/main.js"></script>

<script>
     $(function () {
        loadPosts();
        $("textarea").hashtags();
        console.log(currentUser);
        disableLoadMorePost = false;
        $('#userNotification').on("click", function () {
            $('.notif-count').css('opacity', '0');
        });
    });

    $(window).scroll(function () {
        if ($(this).scrollTop() >= 300) {
            $('#go-to-top').css("display", "flex");
        } else {
            $('#go-to-top').fadeOut();
        }
    });
</script>