@{
    ViewData["Title"] = "Home Page";
    Layout = "_Base";
}
<div class="row g-3">
    <div class="d-lg-block d-none col-lg-4 col-xl-3">
        <partial name="LeftSideBar" />
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-6 g-3">
      <partial name="Feeds"/>
    </div>
    <div class="d-none d-xl-block col-xl-3 sidebar-right">
        <partial name="RightSideBar" />
    </div>
</div>



<script src="~/js/home.js"></script>
<script src="~/js/post.js"></script>
<script src="~/js/comment.js"></script>
<script src="~/js/feeds.js"></script>
<script src="~/js/main.js"></script>

<script>
     $(function () {
        UUID = '@Context.Session.GetString("UUID")';
        loadPosts();
        $("textarea").hashtags();
    });
</script>