@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
  <div class="row g-3">
    <div class="col-12 ">
        <div class="card" style="max-height: 100%; min-height: 50vh">
            <div class="card-header pb-0 pt-4 border-0 d-flex justify-content-between align-items-center">
                <h5 class="card-title mb-0">Top Hashtag</h5>
            </div>
                
            <div class="card-body pb-3 user-side--item">
                <div class="text-center mt-3 sideright-loading" style="display: none">
                    <div class="spinner-border text-muted"></div>
                </div>

                <div class="d-flex justify-content-between align-content-center py-2">
                    <span class="hashtag-name">#hahaha</span>
                    <span class="small text-muted">3 bài viết</span>
                </div>

                <div class="d-flex justify-content-between align-content-center py-2">
                    <span class="hashtag-name">#hahaha</span>
                    <span class="small text-muted">3 bài viết</span>
                </div>

                <div class="d-flex justify-content-between align-content-center py-2">
                    <span class="hashtag-name">#hahaha</span>
                    <span class="small text-muted">3 bài viết</span>
                </div>

                <div class="d-flex justify-content-between align-content-center py-2">
                    <span class="hashtag-name">#hahaha</span>
                    <span class="small text-muted">3 bài viết</span>
                </div>

                <div class="d-flex justify-content-between align-content-center py-2">
                    <span class="hashtag-name">#hahaha</span>
                    <span class="small text-muted">3 bài viết</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        //loadSideBarRight();
    });
</script>